.App {
  background-image: url("http://humber-triathletes.co.uk/images/vii_triatlon_de_elche_final-2.jpg?crc=126320256");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: absolute;
  background: absolute;
  background-attachment: fixed;
  background-color: grey;
  background-blend-mode: screen;
}
