#ranking {
text-align: center;
margin-top: 5px;
border-top: 2px solid;
border-bottom: 2px solid;
border-left: 2px solid;
border-right: 2px solid;
max-width: 520px;
margin-left:  10px;
}

#small-img {
  height: 90px;
  width: 70px;
}

#small-flag {
  height: 20px;
  width: 30px;
}


#header {
  margin-left: 10px;
}
