#map {
  height: 700px;
  width: 55% ;
  position: relative;
  display: inline-block;
  float: right;
  padding: 5%;
}
#container{
  height: 700px;
  width: 100%;
}

.leaflet-container {
  height: 100%;
}
