#map {
  height: 700px;
  width: 55%;
  position: relative;
  display: inline-block;
  float: right;
  margin: 2%;
  padding: 0px;
  border: 1px
  solid black;
}

#container{
  height: 700px;
  width: 100%;
}

.leaflet-container {
  height: 100%;
}
