.athlete {
  background-color: lightgrey;
  background-blend-mode: screen;
  padding: 5%;
  min-height: 800px;
}

/* .image {
  height: 50px;
  width: 50px;
} */

#ath-image{
  float: right;
  margin: 50px;
  height: 800px;
  width: 500px;
}

#athlete_details{
  max-width: 700px;
}
